.custom-container-flex {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.navbar-brand{
    padding-left: 20px;
    font-size: xx-large;
}

.nav-item{
    padding-left: 20px;
}

/*.dropdown{*/
/*    padding-right: 285px;*/
/*    text-align: right;*/
/*}*/

